# ─── DBT ───────────────────────────────────────────────────────────────────────
brz_ecommerce_backend/target/
!brz_ecommerce_backend/target/manifest.json
brz_ecommerce_backend/dbt_packages/
brz_ecommerce_backend/logs/

# ─── DAGSTER ───────────────────────────────────────────────────────────────────
orchestration/.dg/
orchestration/.tmp_dagster_home*/

# ─── DATA ──────────────────────────────────────────────────────────────────────
data/duckdb/*.duckdb
data/raw/**/*.csv

# ─── PYTHON ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[codz]
*$py.class
*.so
*.egg-info/
*.egg
.installed.cfg
MANIFEST
__pypackages__/
.pdm-python
.pdm-build/
.pixi

# ─── VIRTUAL ENVIRONMENTS ──────────────────────────────────────────────────────
myvenv/
.venv
.venv/
venv/
venv.bak/
env/
env.bak/
ENV/

# ─── PACKAGING & DISTRIBUTION ──────────────────────────────────────────────────
build/
dist/
wheels/
eggs/
.eggs/
sdist/
develop-eggs/
parts/
var/
lib/
lib64/
share/python-wheels/
downloads/
.Python

# ─── INSTALLERS & LOGS ─────────────────────────────────────────────────────────
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec

# ─── TESTING & COVERAGE ────────────────────────────────────────────────────────
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# ─── TYPE CHECKERS & LINTERS ───────────────────────────────────────────────────
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
cython_debug/

# ─── EDITORS & IDEs ────────────────────────────────────────────────────────────
.vscode/
.ropeproject
.spyderproject
.spyproject

# ─── OS FILES ──────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── MISC PYTHON TOOLS ─────────────────────────────────────────────────────────
.ipynb_checkpoints
profile_default/
.pypirc
.abstra/